@include font("Gilroy", "Gilroy-Black", "900", "normal");
@include font("Gilroy", "Gilroy-Extrabold", "800", "normal");
@include font("Gilroy", "Gilroy-Bold", "700", "normal");
@include font("Gilroy", "Gilroy-Semibold", "600", "normal");
@include font("Gilroy", "Gilroy-Medium", "500", "normal");
@include font("Gilroy", "Gilroy-Regular", "400", "normal");
@include font("Gilroy", "Gilroy-Light", "300", "normal");
@include font("Gilroy", "Gilroy-UltraLight", "200", "normal");
@include font("Gilroy", "Gilroy-Thin", "100", "normal");

@font-face {
  font-family: 'custom-icons';
  src:  url('../fonts/custom-icons.eot?oveyty');
  src:  url('../fonts/custom-icons.eot?oveyty#iefix') format('embedded-opentype'),
    url('../fonts/custom-icons.ttf?oveyty') format('truetype'),
    url('../fonts/custom-icons.woff?oveyty') format('woff'),
    url('../fonts/custom-icons.svg?oveyty#custom-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'custom-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-car-2:before {
  content: "\e914";
  font-size: 32px;
}
.icon-play:before {
  content: "\e919";
}
.icon-plus .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-plus .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(0, 167, 181);
}
.icon-plus .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 167, 181);
}
.icon-arrow-right .path1:before {
  content: "\e903";
  color: rgb(255, 255, 255);
}
.icon-arrow-right .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-arrow-right .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(0, 167, 181);
}
.icon-delete:before {
  content: "\e906";
}
.icon-hh .path1:before {
  content: "\e907";
  color: rgb(214, 0, 28);
}
.icon-hh .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-arrow-left .path1:before {
  content: "\e909";
  color: rgb(255, 255, 255);
}
.icon-arrow-left .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-arrow-left .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 167, 181);
}
.icon-pin:before {
  content: "\e90c";
}
// .icon-education:before {
//   content: "\e90d";
// }
.icon-education:before {
  content: "\e90d";
  color: #00a7b5;
}
// .icon-earth:before {
//   content: "\e90e";
// }
.icon-earth .path1:before {
  content: "\e92f";
  color: rgb(242, 248, 248);
}
.icon-earth .path2:before {
  content: "\e930";
  margin-left: -0.9853515625em;
  color: rgb(242, 248, 248);
}
.icon-earth .path3:before {
  content: "\e931";
  margin-left: -0.9853515625em;
  color: rgb(242, 248, 248);
}
.icon-earth .path4:before {
  content: "\e932";
  margin-left: -0.9853515625em;
  color: rgb(242, 248, 248);
}
.icon-earth .path5:before {
  content: "\e933";
  margin-left: -0.9853515625em;
  color: rgb(242, 248, 248);
}
.icon-earth .path6:before {
  content: "\e934";
  margin-left: -0.9853515625em;
  color: rgb(242, 248, 248);
}
.icon-earth .path7:before {
  content: "\e935";
  margin-left: -0.9853515625em;
  color: rgb(242, 248, 248);
}
.icon-earth .path8:before {
  content: "\e936";
  margin-left: -0.9853515625em;
  color: rgb(0, 167, 181);
}
.icon-magnetic-systems:before {
  content: "\e90f";
  font-size: 35px;
}
.icon-envelope:before {
  content: "\e910";
}
.icon-car:before {
  content: "\e911";
  font-size: 30px;
}
.icon-electric-bus:before {
  content: "\e912";
  font-size: 37px;
}
.icon-train:before {
  content: "\e913";
  font-size: 31px;
}
.icon-navigation:before {
  content: "\e915";
  font-size: 49px;
}
.icon-done:before {
  content: "\e916";
}
.icon-bus:before {
  content: "\e917";
  font-size: 41px;
}
.icon-download:before {
  content: "\e918";
}
.icon-chevron:before {
  content: "\e91a";
}
.icon-refresh:before {
  content: "\e91b";
}
.icon-combine:before {
  content: "\e91c";
  font-size: 39px;
}
// .icon-leader:before {
//   content: "\e91d";
// }
.icon-leader .path1:before {
  content: "\e90e";
  color: rgb(255, 255, 255);
}
.icon-leader .path2:before {
  content: "\e91d";
  margin-left: -0.91015625em;
  color: rgb(255, 255, 255);
}
.icon-leader .path3:before {
  content: "\e91f";
  margin-left: -0.91015625em;
  color: rgb(255, 255, 255);
}
.icon-leader .path4:before {
  content: "\e921";
  margin-left: -0.91015625em;
  color: rgb(255, 255, 255);
}
.icon-leader .path5:before {
  content: "\e922";
  margin-left: -0.91015625em;
  color: rgb(255, 255, 255);
}
.icon-leader .path6:before {
  content: "\e923";
  margin-left: -0.91015625em;
  color: rgb(255, 255, 255);
}
.icon-leader .path7:before {
  content: "\e924";
  margin-left: -0.91015625em;
  color: rgb(255, 255, 255);
}
.icon-leader .path8:before {
  content: "\e925";
  margin-left: -0.91015625em;
  color: rgb(255, 255, 255);
}
.icon-leader .path9:before {
  content: "\e926";
  margin-left: -0.91015625em;
  color: rgb(255, 255, 255);
}
.icon-leader .path10:before {
  content: "\e927";
  margin-left: -0.91015625em;
  color: rgb(255, 255, 255);
}
.icon-leader .path11:before {
  content: "\e928";
  margin-left: -0.91015625em;
  color: rgb(255, 255, 255);
}
.icon-leader .path12:before {
  content: "\e929";
  margin-left: -0.91015625em;
  color: rgb(0, 167, 181);
}
.icon-close:before {
  content: "\e91e";
}
// .icon-career:before {
//   content: "\e91f";
// }
.icon-career .path1:before {
  content: "\e92a";
  color: rgb(255, 255, 255);
}
.icon-career .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-career .path3:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-career .path4:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-career .path5:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(0, 167, 181);
}
.icon-heck:before {
  content: "\e920";
}
