@mixin font($font_name, $file_name, $weight, $style) { // Для подключения шрифтов
  @font-face {
  font-family: $font_name;
  font-display: swap;
  src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
  font-weight: #{$weight};
  font-style: #{$style};
  }
};
@import 'node_modules/swiper/swiper-bundle.min';
@import 'node_modules/dropzone/dist/dropzone';

@import 'fonts';
@import 'global';
// Стили

// main
@import 'components/header';
@import 'components/slider-main';
@import 'components/categories';
@import 'components/news';
@import 'components/numbers';
@import 'components/chart';
@import 'components/footer';

// career
@import 'components/company';
@import 'components/requirements';
@import 'components/description';
@import 'components/respond';

// products
@import 'components/products-category';
@import 'components/p-list';
@import 'components/p-detail';
