<section class="about container">
  <h5 class="about__title">Ведущий российский разработчик и производитель решений для автотранспорта</h5>
  <p class="about__text">Группа компаний «ИТЭЛМА» объединяет компании, деятельность которых связана с тремя основными направлениями: электроника, авиастроение, девелопмент. Численность сотрудников превышает 3000 человек, из которых более 1000 заняты созданием новых разработок.</p>
  <p class="about__text">Ключевым предприятием группы является научно-производственное предприятие «ИТЭЛМА», занимающееся разработками электронных компонентов, в том числе для автомобильной отрасли, проектированием и производством высокотехнологичных систем.</p>


  <h2 class="section-title">Миссия</h2>

  <div class="mission">
    <div class="mission__item">
      <span class="mission__icon icon-check-circle"></span>
      <p class="mission__text">Создание и обеспечение рынка современными электронными системами во всем их многообразии. Максимальное удовлетворение запросов потребителей.</p>
    </div>
    <div class="mission__item">
      <span class="mission__icon  icon-check-circle"></span>
      <p class="mission__text">Создание разнообразных передовых электронных систем и удовлетворение запросов рынка</p>
    </div>
  </div>
</section>