<section class="career__slider">
  <div class="swiper" id="career-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide career__slide">
        <img src="img/career/slide1.jpg" class="career__slide-img" alt="">
      </div>
      <div class="swiper-slide career__slide">
        <img src="img/career/slide2.jpg" class="career__slide-img" alt="">
      </div>
      <div class="swiper-slide career__slide">
        <img src="img/career/slide3.jpg" class="career__slide-img" alt="">
      </div>
      <div class="swiper-slide career__slide">
        <img src="img/career/slide4.jpg" class="career__slide-img" alt="">
      </div>
      <div class="swiper-slide career__slide">
        <img src="img/career/slide5.jpg" class="career__slide-img" alt="">
      </div>
      <div class="swiper-slide career__slide">
        <img src="img/career/slide6.jpg" class="career__slide-img" alt="">
      </div>
      <div class="swiper-slide career__slide">
        <img src="img/career/slide7.jpg" class="career__slide-img" alt="">
      </div>
      <div class="swiper-slide career__slide">
        <img src="img/career/slide8.jpg" class="career__slide-img" alt="">
      </div>
    </div>

    <div class="swiper-pagination3"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>