<section class="categories container">
  <div class="categories__item">
    <div class="categories__icon icon-car"></div>
    <h4 class="categories__title">Легковой транспорт</h4>
    <ul class="categories__list">
      <li class="categories__content">
        <a href="#" class="categories__link">Системы управления двигателем</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Кузовная электроника</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Мультимедийные системы</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Системы экстренного реагирования в случае ДТП</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Системы помощи водителю</a>
      </li>
    </ul>
  </div>

  <div class="categories__item">
    <div class="categories__icon icon-car-2"></div>
    <h4 class="categories__title">Коммерческий транспорт</h4>
    <ul class="categories__list">
      <li class="categories__content">
        <a href="#" class="categories__link">Системы управления двигателем</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Кузовная электроника</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Мультимедийные системы</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Системы экстренного реагирования в случае ДТП</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Системы помощи водителю</a>
      </li>
    </ul>
  </div>

  <div class="categories__item">
    <div class="categories__icon icon-combine"></div>
    <h4 class="categories__title">Сельхоз техника</h4>
    <ul class="categories__list">
      <li class="categories__content">
        <a href="#" class="categories__link">Системы управления двигателем</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Кузовная электроника</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Мультимедийные системы</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Системы экстренного реагирования в случае ДТП</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Системы помощи водителю</a>
      </li>
    </ul>
  </div>

  <div class="categories__item">
    <div class="categories__icon icon-bus"></div>
    <h4 class="categories__title">Пассажирский транспорт</h4>
    <ul class="categories__list">
      <li class="categories__content">
        <a href="#" class="categories__link">Системы управления двигателем</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Кузовная электроника</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Мультимедийные системы</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Системы экстренного реагирования в случае ДТП</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Системы помощи водителю</a>
      </li>
    </ul>
  </div>

  <div class="categories__item">
    <div class="categories__icon icon-train"></div>
    <h4 class="categories__title">Рельсовый транспорт</h4>
    <ul class="categories__list">
      <li class="categories__content">
        <a href="#" class="categories__link">Системы управления двигателем</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Кузовная электроника</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Мультимедийные системы</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Системы экстренного реагирования в случае ДТП</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Системы помощи водителю</a>
      </li>
    </ul>
  </div>

  <div class="categories__item">
    <div class="categories__icon icon-magnetic-systems"></div>
    <h4 class="categories__title">Когнитивные системы</h4>
    <ul class="categories__list">
      <li class="categories__content">
        <a href="#" class="categories__link">Системы управления двигателем</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Кузовная электроника</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Мультимедийные системы</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Системы экстренного реагирования в случае ДТП</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Системы помощи водителю</a>
      </li>
    </ul>
  </div>

  <div class="categories__item">
    <div class="categories__icon icon-navigation"></div>
    <h4 class="categories__title">Телематика и навигация</h4>
    <ul class="categories__list">
      <li class="categories__content">
        <a href="#" class="categories__link">Системы управления двигателем</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Кузовная электроника</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Мультимедийные системы</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Системы экстренного реагирования в случае ДТП</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Системы помощи водителю</a>
      </li>
    </ul>
  </div>

  <div class="categories__item">
    <div class="categories__icon icon-electric-bus"></div>
    <h4 class="categories__title">Электрический транспорт</h4>
    <ul class="categories__list">
      <li class="categories__content">
        <a href="#" class="categories__link">Системы управления двигателем</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Кузовная электроника</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Мультимедийные системы</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Системы экстренного реагирования в случае ДТП</a>
      </li>
      <li class="categories__content">
        <a href="#" class="categories__link">Системы помощи водителю</a>
      </li>
    </ul>
  </div>
</section>