<section class="chart container">

  <div class="video">
    <div class="js-video-gallary" style="background-image: url(./img/news2.jpg);" data-video='{"source": [{"src":"video/Thaehan - Hourglass.mp4", "type":"video/mp4"}], "tracks": [{"src": "{/videos/title.txt", "kind":"captions", "srclang": "en", "label": "English", "default": "true"}], "attributes": {"preload": false, "playsinline": true, "controls": true}}'>

      <div class="video__filter">
        <button type="button" class="video__btn icon-play"></button>
      </div>

    </div>
  </div>


  <div class="chart__wrapper">
    <p class="chart__title">Изделия НПП ИТЭЛМА на рынке</p>
    <div class="chart__inner">
      <div class="chart__item">
        <canvas id="myChart" class="chart__canvas"></canvas>
      </div>
    </div>
    <div class="standarts">
      <p class="standarts__text">Соответствуем стандартам качества</p>
      <img class="standarts__certif" src="img/certif1.jpg" alt="">
      <img class="standarts__certif" src="img/certif2.jpg" alt="">
    </div>
  </div>
</section>