<section class="chart container">
  <div class="video js-video">
    <video class="video__player" src="video/Thaehan - Hourglass.mp4" poster="img/news2.jpg"></video>
    <div class="video__filter">
      <button type="button" class="video__btn icon-play"></button>
    </div>
  </div>

  <div class="chart__wrapper">
    <p class="chart__title">Изделия НПП ИТЭЛМА на рынке</p>
    <div class="chart__inner">
      <div class="chart__item">
        <canvas id="myChart" class="chart__canvas"></canvas>
      </div>
    </div>
    <div class="standarts">
      <p class="standarts__text">Соответствуем стандартам качества</p>
      <img class="standarts__certif" src="img/certif1.jpg" alt="">
      <img class="standarts__certif" src="img/certif2.jpg" alt="">
    </div>
  </div>
</section>