<section class="company container">
  <div class="company__about">
    <p class="company__title">О компании</p>
    <p class="company__text">Группа компаний «ИТЭЛМА» объединяет компании, деятельность которых связана с тремя основными направлениями: электроника, авиастроение, девелопмент. Численность сотрудников превышает 3000 человек, из которых более 1000 заняты созданием новых разработок.</p>
  </div>
  <div class="company__inner">
    <div class="company__logo">
      <img src="img/logo-mobile-ru.png" alt="" class="company__img company__img-desktop">
      <img src="img/logo-mobile-ru-blue.png" alt="" class="company__img company__img-mobile">
    </div>
    <p class="company__description">Ведущий российский разработчик и производитель решений для автотранспорта</p>
  </div>
</section>