<section class="description container">
  <div class="description__item">
    <span class="description__title">Обязанности</span>
    <ul class="description__list">
      <li class="description__paragraph">Разработка ПО для автоматизированного рабочего места</li>
      <li class="description__paragraph">Разработка ПО для автоматической отправки данных (с оборудования на сервер)</li>
      <li class="description__paragraph">Работа с базами данных (SQL, 1C)</li>
      <li class="description__paragraph">Разработка ПО обмена данными, SCADA системы</li>
      <li class="description__paragraph">Разработка ПО для производственных линий</li>
    </ul>
  </div>

  <div class="description__item">
    <span class="description__title">Требования</span>
    <ul class="description__list">
      <li class="description__paragraph">Образование высшее техническое</li>
      <li class="description__paragraph">Релевантный опыт работы от 1 года</li>
      <li class="description__paragraph">Английский (технический желательно)</li>
      <li class="description__paragraph">Опыт программирования на C#, Visual Studio, MS SQL</li>
      <li class="description__paragraph">Знание протоколов Modbus, Profinet, Profibus, CAN, EtherCAT, Ethernet/IP, OML</li>
      <li class="description__paragraph">Опыт работы с MS Office, MS SQL Serve.</li>
    </ul>
  </div>

  <div class="description__item">
    <span class="description__title">Условия</span>
    <ul class="description__list">
      <li class="description__paragraph">Современное радиоэлектронное производство</li>
      <li class="description__paragraph">Бизнес-центр "А" класса</li>
      <li class="description__paragraph">Оформление по ТК РФ</li>
      <li class="description__paragraph">Испытательный срок 3 месяца</li>
      <li class="description__paragraph">График 5/2 8.30-17.00, сб., вс.- выходной</li>
      <li class="description__paragraph">Компенсация за питание (в столовой предприятия)</li>
      <li class="description__paragraph">Парковка</li>
      <li class="description__paragraph">Еженедельные спортивные мероприятия</li>
      <li class="description__paragraph">Своевременная выплата заработной платы 2 раза в месяц</li>
      <li class="description__paragraph">Оплачиваемый отпуск 28 календарных дней</li>
    </ul>
  </div>


</section>