<section class="news container">
  <h2 class="title">
    Новости
  </h2>
  <div class="news__wrapper">
    <div href="#" class="news__item">
      <div class="responsive-image responsive-image--62"><img src="img/news1.jpg" alt="" class="news__img responsive-image__image"></div>
      <a href="#" class="news__title">Производство НПП ИТЭЛМА соответствует IATF16949</a>
      <div class="news__date">10 января 2021</div>
    </div>
    <div href="#" class="news__item">
      <div class="responsive-image responsive-image--62"><img src="img/news2.jpg" alt="" class="news__img responsive-image__image"></div>
      <a href="#" class="news__title">ГК ИТЭЛМА построит новый инженерно-лабораторный корпус одноименного технопарка</a>
      <div class="news__date">24 декабря 2020</div>
    </div>
    <div href="#" class="news__item">
      <div class="responsive-image responsive-image--62"><img src="img/news3.jpg" alt="" class="news__img responsive-image__image"></div>
      <a href="#" class="news__title">НПП ИТЭЛМА приняло участие в разработке электрогазели</a>
      <div class="news__date">1 ноября 2020</div>
    </div>
    <div href="#" class="news__item">
      <div class="responsive-image responsive-image--62"><img src="img/news4.jpg" alt="" class="news__img responsive-image__image"></div>
      <a href="#" class="news__title">Девушки в IT: НПП ИТЭЛМА ломает стереотипы</a>
      <div class="news__date">15 сентября 2020</div>
    </div>
  </div>
  <button type="button" class="news__more">
    <span class="news__more-icon icon-refresh"></span>
    <span class="news__more-text">Показать еще</span>
  </button>
</section>