<section class="p-category">
  <div class="container">
    <div class="p-category__wrap">
      <div class="p-category__left">
        <div class="point" style="right: 63%; top: 28%;">
          <div class="point-line"></div>
          <span class="icon-close">
          </span>
        </div>
        <img src="./img/products-category/car.png">
      </div>
      <div class="p-category__right">
        <div class="p-category-slider" id="p-category-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="p-category-slider__img" style="background-image: url('./img/products-category/slide1.png');"></div>
              <div class="p-category-slider__content">
                <div class="p-category-slider__title">Контроллер системы управления двигателем (М86)</div>
                <div class="p-category-slider__text">Центральное устройство системы управления двигателем внутреннего сгорания.</div>
                <a class="p-category-slider__link" href="">Перейти к описанию</a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="p-category-slider__img" style="background-image: url('./img/products-category/slide1.png');"></div>
              <div class="p-category-slider__content">
                <div class="p-category-slider__title">Контроллер системы управления двигателем (М86)</div>
                <div class="p-category-slider__text">Центральное устройство системы управления двигателем внутреннего сгорания.</div>
                <a class="p-category-slider__link" href="">Перейти к описанию</a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="p-category-slider__img" style="background-image: url('./img/products-category/slide1.png');"></div>
              <div class="p-category-slider__content">
                <div class="p-category-slider__title">Контроллер системы управления двигателем (М86)  управления двигателем (М86)</div>
                <div class="p-category-slider__text">Центральное устройство системы управления двигателем внутреннего сгорания. системы управления двигателем внутреннего.</div>
                <a class="p-category-slider__link" href="">Перейти к описанию</a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="p-category-slider__img" style="background-image: url('./img/products-category/slide1.png');"></div>
              <div class="p-category-slider__content">
                <div class="p-category-slider__title">Контроллер системы управления двигателем (М86)  управления двигателем (М86)</div>
                <div class="p-category-slider__text">Центральное устройство системы управления двигателем внутреннего сгорания. системы управления двигателем внутреннего.</div>
                <a class="p-category-slider__link" href="">Перейти к описанию</a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="p-category-slider__img" style="background-image: url('./img/products-category/slide1.png');"></div>
              <div class="p-category-slider__content">
                <div class="p-category-slider__title">Контроллер системы управления двигателем (М86)  управления двигателем (М86)</div>
                <div class="p-category-slider__text">Центральное устройство системы управления двигателем внутреннего сгорания. системы управления двигателем внутреннего.</div>
                <a class="p-category-slider__link" href="">Перейти к описанию</a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="p-category-slider__img" style="background-image: url('./img/products-category/slide1.png');"></div>
              <div class="p-category-slider__content">
                <div class="p-category-slider__title">Контроллер системы управления двигателем (М86)  управления двигателем (М86)</div>
                <div class="p-category-slider__text">Центральное устройство системы управления двигателем внутреннего сгорания. системы управления двигателем внутреннего.</div>
                <a class="p-category-slider__link" href="">Перейти к описанию</a>
              </div>
            </div>
          </div>
          <div class="swiper-pagination2"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
</section>