<section class="press-info container">
    <div class="press-info__logo">
        <div class="press-info__title">Логотип</div>
        <div class="press-info__logo__item">
            <div class="press-info__logo__item__img">
                <img src="./img/press/l1.svg">
            </div>
            <a download="" href="./img/press/l1.svg">Скачать, RUS</a>
            <span>AI, 120 Кб</span>
        </div>
        <div class="press-info__logo__item">
            <div class="press-info__logo__item__img">
                <img src="./img/press/l2.svg">
            </div>
            <a download="" href="./img/press/l1.svg">Скачать, ENG</a>
            <span>AI, 120 Кб</span>
        </div>
    </div>
    <div class="press-info__about">
        <div class="press-info__title">О компании</div>
        <div class="press-info__about__wrap">
            <p>
                Группа компаний «ИТЭЛМА» объединяет компании, деятельность которых связана с тремя основными направлениями: электроника, авиастроение, девелопмент. Численность сотрудников превышает 3000 человек, из которых более 1000 заняты созданием новых разработок.
            </p>
            <p>
                Ключевым предприятием группы является научно-производственное предприятие «ИТЭЛМА», занимающееся разработками электронных компонентов, в том числе для автомобильной отрасли, проектированием и производством высокотехнологичных систем.
            </p>
        </div>
    </div>
    <div class="press-info__contact">
        <div class="press-info__contact__wrap">
            <div class="press-info__title">Контакты</div>
            <div class="press-info__contact__t">
                Электронная почта
            </div>
            <a href="">press@itelma.ru</a>
            <div class="press-info__contact__t">
                Телефон
            </div>
            <span>+7 (495) 280-11-11</span>
        </div>
    </div>
</section>
<section class="news-img container">
    <h2 class="title">
        Мультимедиа
    </h2>
    <div class="news-img__row">
        <div class="news-img__row__col-left">
            <div class="press-info__title">Фотографии</div>
        </div>
        <div class="news-img__row__col-right">
            <a href="" class="download-btn" download>
                <span class="icon-download"></span>Скачать все (4,5 Мб)
            </a>
        </div>
        <div class="news-img__wrap">
            <div class="news-img__wrap--over">
                <div class="news-img__item" style="background-image: url(./img/press/1.jpg);"></div>
                <div class="news-img__item" style="background-image: url(./img/press/2.jpg);"></div>
                <div class="news-img__item" style="background-image: url(./img/press/3.jpg);"></div>
                <div class="news-img__item" style="background-image: url(./img/press/4.jpg);"></div>
                <div class="news-img__item" style="background-image: url(./img/press/5.jpg);"></div>
            </div>
        </div>
    </div>
</section>
<section class="news-video container">
    <div class="news-img__row">
        <div class="news-img__row__col-left">
            <div class="press-info__title">Видео</div>
        </div>
        <div class="news-img__row__col-right">
            <a href="" class="download-btn">
                <span class="icon-play"></span>Перейти на Youtube
            </a>
        </div>
    </div>
</section>
<section class="news container">
    <h2 class="title">
      Пресс резилы
    </h2>
    <div class="news__wrapper">
      <div href="#" class="news__item">
        <div class="responsive-image responsive-image--62"><img src="img/news1.jpg" alt="" class="news__img responsive-image__image"></div>
        <a href="#" class="news__title">Производство НПП ИТЭЛМА соответствует IATF16949</a>
        <div class="news__date">10 января 2021</div>
      </div>
      <div href="#" class="news__item">
        <div class="responsive-image responsive-image--62"><img src="img/news2.jpg" alt="" class="news__img responsive-image__image"></div>
        <a href="#" class="news__title">ГК ИТЭЛМА построит новый инженерно-лабораторный корпус одноименного технопарка</a>
        <div class="news__date">24 декабря 2020</div>
      </div>
      <div href="#" class="news__item">
        <div class="responsive-image responsive-image--62"><img src="img/news3.jpg" alt="" class="news__img responsive-image__image"></div>
        <a href="#" class="news__title">НПП ИТЭЛМА приняло участие в&nbsp;разработке электрогазели</a>
        <div class="news__date">1 ноября 2020</div>
      </div>
      <div href="#" class="news__item">
        <div class="responsive-image responsive-image--62"><img src="img/news4.jpg" alt="" class="news__img responsive-image__image"></div>
        <a href="#" class="news__title">Девушки в IT: НПП ИТЭЛМА ломает стереотипы</a>
        <div class="news__date">15 сентября 2020</div>
      </div>
    </div>
    <button type="button" class="news__more">
      <span class="news__more-icon icon-refresh"></span>
      <span class="news__more-text">Показать еще</span>
    </button>
  </section>