<section class="press-info container">
    <div class="press-info__logo">
        <div class="press-info__title">Логотип</div>
        <div class="press-info__logo__item">
            <div class="press-info__logo__item__img">
                <img src="./img/press/l1.svg">
            </div>
            <a href="">Скачать, RUS</a>
            <span>AI, 120 Кб</span>
        </div>
        <div class="press-info__logo__item">
            <div class="press-info__logo__item__img">
                <img src="./img/press/l1.svg">
            </div>
            <a href="">Скачать, ENG</a>
            <span>AI, 120 Кб</span>
        </div>
    </div>
</section>