<section class="p-detail">
    <div class="p-detail__top">
        <div class="container">
            <div class="p-detail__top__wrap">
                <div class="p-detail__top__text">
                    Контроллер системы управления двигателем (М86)
                </div>
                <div class="p-detail__top__img">
                    <img src="../img/products-category/slide1.png">
                </div>
            </div>
        </div>
    </div>
    <div class="p-detail__content container">
        <div class="p-detail__content__wrap-top">
            <div class="p-detail__content__left">
                <h2>Центральное устройство системы управления двигателем внутреннего сгорания</h2>
                <p>На основании информации от датчиков осуществляет управление исполнительными механизмами для оптимальной работы двигателя при заданном уровне токсичности отработавших газов.         </p>
                <p>Выполняет функции диагностики элементов, входящих в электронную систему управления двигателем, и контроля деградации его компонентов, влияющих на токсичности ОГ.</p>
                <p>Обеспечивает высокий уровень потребительских качеств автомобиля.
                </p>
            </div>
            <div class="p-detail__content__right">
                <h2>Функционал</h2>
                <div class="p-detail__content__v">
                    <div class="p-detail__content__v__item">
                        Управление исполнительными механизмами ДВС
                    </div>
                    <div class="p-detail__content__v__item">
                        Диагностика элементов электронной системы управления двигателем
                    </div>
                    <div class="p-detail__content__v__item">
                        Контроль деградации элементов электронной системы управления двигателем
                    </div>
                </div>
            </div>
        </div>
        <div class="p-detail__content__wrap-bot">
            <h2>Характеристики</h2>
            <div class="p-detail__har">
                <div class="p-detail__har__wrap">
                    <div class="p-detail__har__col">
                        <div class="p-detail__har__row">
                            <div class="p-detail__har__row__left"><span>Нормы токсичности </span></div>
                            <div class="p-detail__har__row__right">Евро 5, Евро 5+, Евро 6</div>
                        </div>
                        <div class="p-detail__har__row">
                            <div class="p-detail__har__row__left"><span>Нормы токсичности В несколько строк</span></div>
                            <div class="p-detail__har__row__right">Евро 5, Евро 5+, Евро 6</div>
                        </div>
                        <div class="p-detail__har__row">
                            <div class="p-detail__har__row__left"><span>Нормы токсичности </span></div>
                            <div class="p-detail__har__row__right">Евро 5, Евро 5+, Евро 6</div>
                        </div>
                        <div class="p-detail__har__row">
                            <div class="p-detail__har__row__left"><span>Нормы токсичности </span></div>
                            <div class="p-detail__har__row__right">Евро 5, Евро 5+, Евро 6</div>
                        </div>
                    </div>
                    <div class="p-detail__har__col">
                        <div class="p-detail__har__row">
                            <div class="p-detail__har__row__left"><span>Нормы токсичности </span></div>
                            <div class="p-detail__har__row__right">Евро 5, Евро 5+, Евро 6</div>
                        </div>
                        <div class="p-detail__har__row">
                            <div class="p-detail__har__row__left"><span>Нормы токсичности В несколько строк</span></div>
                            <div class="p-detail__har__row__right">Евро 5, Евро 5+, Евро 6</div>
                        </div>
                        <div class="p-detail__har__row">
                            <div class="p-detail__har__row__left"><span>Нормы токсичности </span></div>
                            <div class="p-detail__har__row__right">Евро 5, Евро 5+, Евро 6</div>
                        </div>
                        <div class="p-detail__har__row">
                            <div class="p-detail__har__row__left"><span>Нормы токсичности </span></div>
                            <div class="p-detail__har__row__right">Евро 5, Евро 5+, Евро 6</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>