<section class="p-list">
    <div class="container">
        <div class="p-list__row">
            <div class="p-list__item">
                <img src="./img/p-list/1.svg">
                <a href="products-category.html" class="p-list__title">Легковой транспорт</a>
                <ul>
                    <li>
                        <a href="products-category.html">Системы управления двигателем</a>
                    </li>
                    <li>
                        <a href="products-category.html">Кузовная электроника</a>
                    </li>
                    <li>
                        <a href="products-category.html">Мультимедийные системы</a>
                    </li>
                    <li>
                        <a href="products-category.html">Системы экстренного реагирования в случае ДТП</a>
                    </li>
                    <li>
                        <a href="products-category.html">Системы помощи водителю</a>
                    </li>
                </ul>
            </div>
            <div class="p-list__item">
                <img src="./img/p-list/2.svg">
                <a href="products-category.html" class="p-list__title">Коммерческий транспорт</a>
                <ul>
                    <li>
                        <a href="products-category.html">Системы управления двигателем</a>
                    </li>
                    <li>
                        <a href="products-category.html">Кузовная электроника</a>
                    </li>
                    <li>
                        <a href="products-category.html">Мультимедийные системы</a>
                    </li>
                    <li>
                        <a href="products-category.html">Системы экстренного реагирования в случае ДТП</a>
                    </li>
                    <li>
                        <a href="products-category.html">Системы помощи водителю</a>
                    </li>
                </ul>
            </div>
            <div class="p-list__item">
                <img src="./img/p-list/3.svg">
                <a href="products-category.html" class="p-list__title">Сельскохоз техника </a>
                <ul>
                    <li>
                        <a href="products-category.html">Мультимедийные системы</a>
                    </li>
                    <li>
                        <a href="products-category.html">Кузовная электроника</a>
                    </li>
                </ul>
            </div>
            <div class="p-list__item">
                <img src="./img/p-list/4.svg">
                <a href="products-category.html" class="p-list__title">Пассажирский транспорт </a>
                <ul>
                    <li>
                        <a href="products-category.html"> Мультиплекс</a>
                    </li>
                    <li>
                        <a href="products-category.html">Силовая электроника</a>
                    </li>
                    <li>
                        <a href="products-category.html">Телематические системы</a>
                    </li>
                </ul>
            </div>
            <div class="p-list__item">
                <img src="./img/p-list/5.svg">
                <a href="products-category.html" class="p-list__title">Рельсовый транспорт </a>
                <ul>
                    <li>
                        <a href="products-category.html">Системы управления двигателем</a>
                    </li>
                    <li>
                        <a href="products-category.html">Кузовная электроника</a>
                    </li>
                    <li>
                        <a href="products-category.html">Мультимедийные системы</a>
                    </li>
                    <li>
                        <a href="products-category.html">Системы экстренного реагирования в случае ДТП</a>
                    </li>
                    <li>
                        <a href="products-category.html">Системы помощи водителю</a>
                    </li>
                </ul>
            </div>
            <div class="p-list__item">
                <img src="./img/p-list/6.svg">
                <a href="products-category.html" class="p-list__title">Когнитивные системы </a>
                <ul>
                    <li>
                        <a href="products-category.html">Мультимедийные системы</a>
                    </li>
                    <li>
                        <a href="products-category.html">Кузовная электроника</a>
                    </li>
                </ul>
            </div>
            <div class="p-list__item">
                <img src="./img/p-list/7.svg">
                <a href="products-category.html" class="p-list__title">Телематика и навигация </a>
            </div>
            <div class="p-list__item">
                <img src="./img/p-list/8.svg">
                <a href="products-category.html" class="p-list__title">Инфраструктурные проекты</a>
                <ul>
                    <li>
                        <a href="products-category.html">Программно-аппаратный комплекс контроля объема грузов</a>
                    </li>
                </ul>
            </div>
            <div class="p-list__item">
                <img src="./img/p-list/9.svg">
                <a href="products-category.html" class="p-list__title">Электрический транспорт</a>
            </div>
        </div>
    </div>
</section>