<section class="requirements container">
  <div class="requirements__wrapper">
    <div class="requirements__inner">
      <div class="requirements__item">
        <div class="requirements__name">Город</div>
        <div class="requirements__value">Москва</div>
      </div>
      <div class="requirements__item">
        <div class="requirements__name">Требуемый опыт работы</div>
        <div class="requirements__value">1–3 года</div>
      </div>
      <div class="requirements__item">
        <div class="requirements__name">Занятость</div>
        <div class="requirements__value">Полная занятость, полный день</div>
      </div>
    </div>
    <button type="button" class="blue-btn">
      Откликнутся
    </button>
  </div>
</section>