<section class="values container">
  <h2 class="section-title">Наши ценности</h2>

  <ul class="values__list">
    <li class="values__item">
      <span class="values__title">Доверие заказчиков</span>
      <p class="values__text">Мы хотим повысить эффективность их бизнеса, соответствовать их ожиданиям и особым требованиям</p>
    </li>
    <li class="values__item">
      <span class="values__title">Команда</span>
      <p class="values__text">Наши сотрудники и их профессионализм — важнейшее достояние предприятия и основная движущая сила на пути к поставленным целям.</p>
    </li>
    <li class="values__item">
      <span class="values__title">Поставщики и партнеры</span>
      <p class="values__text">Мы дорожим долгосрочными и взаимовыгодными отношениями с контрагентами, потому что стремимся разделить с ними ответственность за удовлетворение потребностей потребителя.</p>
    </li>
    <li class="values__item">
      <span class="values__title">Развитие</span>
      <p class="values__text">Мы стремимся постоянно совершенствовать бизнес- процессы и поддерживать высокие показатели рентабельности.</p>
    </li>
  </ul>
</section>