// Header start
.header {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 96px;
  position: relative;
  &__wrapper {
    box-shadow: 0px 0 12px rgba(0, 0, 0, 0.05);
  }
}
.logo {
  margin: 0 auto 0 -22px;
  &__mobile {
    display: none;
  }
  @media (max-width: 1090px) {
    &__desktop {
      display: none;
    }
    &__mobile {
      display: block;
    }
  }
}
.burger {
  display: none;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 16px;
  position: relative;
  cursor: pointer;
}
.burger__line,
.burger__line::before,
.burger__line::after {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #707676;
  border-radius: 2px;
  transition: all 0.2s linear;
}
.burger__line::before {
  content: '';
  top: -6px;
}
.burger__line::after {
  content: '';
  top: 6px;
}
.burger.active {
  .burger__line {
    transform: rotate(45deg);
  }
  .burger__line::before {
    transform: rotate(0);
    top: 0;
  }
  .burger__line::after {
    transform: rotate(90deg);
    top: 0;
  }
}

.lang {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 48px;
  font-weight: 500;
  margin-left: 24px;
  color: $color-main;
  border: 1px solid $color-gray;
  border-radius: 10px;
  transition: all 0.3s linear;
  &:hover {
    border: 1px solid $color-blue;
    background-color: $color-blue;
    color: #fff;
  }
}

.menu__arrow {
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  font-size: 6px;
  color: $color-blue;
  transition: all linear .3s;
}
.menu-1 {
  display: flex;
  max-height: calc(100vh - 60px);
  &__item {
    position: relative;
    z-index: 5;
    margin: 0 16px;
    cursor: pointer;
    @media (min-width: 991px) {
      &:hover {
        .menu-1__text {
          color: $color-blue;
        }
        .menu-1__arrow {
          transform: rotate(180deg);
        }
        & .menu-2 {
          display: block;
        }
      }
    }
  }

  &__title {
    display: flex;
  }

  &__text {
    color: $color-main;
    font-weight: 500;
    padding: 8px 0;
    line-height: 32px;
    
  }
}

.menu-2 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 268px;
  box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.15);
  &__wrapper {
    position: relative;
    padding: 40px 0;
    background-color: #F7FCFC;
    cursor: default;
  }

  &__item {
    cursor: pointer;
    @media (min-width: 991px) {
      &:hover {
        .menu-2__text {
          color: $color-blue;
        }
        .menu-2__title {
          background-color: #fff;
        }
        .menu__arrow {
          transform: rotate(180deg);
        }
        .menu-3 {
          display: block;
        }
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 48px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }

  &__arrow {
    display: none;
    font-size: 6px;
    color: $color-blue;
  }
}

.menu-3 {
  display: none;
  position: absolute;
  top: 0;
  left: 99%;
  width: 359px;
  min-height: 448px;
  padding: 40px 48px 40px 36px;
  background-color: #fff !important;
  cursor: default;

  &__item {
    padding: 8px 0;
  }

  &__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: $color-main;
    &:hover {
      color: $color-blue;
    }
  }
}

.mobile {
  &-hide {
    @media (max-width: 991px) {
      display: none;
    }
  }
  &-visible {
    display: none;
    a {
      width: 100%;
      padding: 8px 16px 8px 32px;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      color: #000;
      border-top: 1px solid #e0e9ea;
    }
    @media (max-width: 991px) {
      display: flex;
    }
  }
}

@media (max-width: 1270px) {
  .logo {
    margin: 0 auto 0 0;
  }
}
@media (max-width: 991px) {
  .burger {
    display: flex;
  }
  .content {
    padding-top: 60px;
  }
  .header {
    position: relative;
    height: 60px;
    &__wrapper {
      position: fixed;
      z-index: 40;
      top: 0;
      left: 0;
      transition: all .3s ease;
      width: 100%;
      background-color: #fff;
      &.out {
        transform: translateY(-100%);
      }
    }
  }
  .navigation {
    order: 3;
  }
  .menu-1 {
    overflow: scroll;
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 4;
    top: 100%;
    right: 0;
    width: 320px;
    background-color: #fff;
    box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.15);
    &.active {
      display: flex;
    }
    &__item {
      margin: 0;
    }
    &__title {
      padding: 0 16px;
      justify-content: space-between;
      border-top: 1px solid #E0E9EA;
      &.active {
        .menu__arrow {
          transform: rotate(180deg);
        }
        .menu-1__text {
          color: $color-blue;
        }
      }
    }
    &__text {
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
    }
  }
  .menu-2 {
    display: none;
    position: static;
    width: 100%;
    box-shadow: none;
    &.active {
      display: block;
    }
    &__wrapper {
      padding: 0;
      background-color: #fff;
      
    }
    &__item {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        height: 1px;
        width: calc(100% - 16px);
        background-color: #e0e9ea;
        bottom: 0;
        right: 0;
      }
      &:last-child {
        border-bottom: none;
        &::before {
          display: none;
        }
      }
    }
    &__title {
      justify-content: space-between;
      padding: 8px 16px 8px 32px;
      &.active {
        .menu__arrow {
          transform: rotate(180deg);
        }
      }
    }
    &__arrow {
      display: flex;
    }
  }
  .menu-3 {
    position: static;
    display: none;
    width: 100%;
    min-height: auto;
    padding: 0 0 0 32px;
    background-color: #F2F8F8 !important;
    &.active {
      display: block;
    }
  }
}
// Header end
