.press-info{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.press-info__logo{
    width: 178px;
    margin-right: 71px;
}
.press-info__logo__item{
    margin-top: 31px;
    a {
        font-size: 14px;
        line-height: 24px;
        color: #00A7B5;
        margin-right: 5px;
    }
    span{
        color: #707676;
    }

}
.press-info__logo__item__img{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 93px;
    border: 1px solid #E0E9EA;
    border-radius: 10px;
    margin-bottom: 11px;
    img{
        max-width: 100%;
    }
}

.press-info__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #3D4247;
}

.press-info{
    padding-top: 96px;
    padding-bottom: 89px;
}
.press-info__contact{
    width: 280px;
    margin-left: 64px;
}
.press-info__contact__wrap{
    
    background-color: #F5F5F5;
    padding: 32px;
    min-height: 352px;
    .press-info__title{
        margin-bottom: 23px;
    }
    a{
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #00A7B5;
        margin-bottom: 25px;
        display: inline-block;
    }
    span{
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #000000
    }
}
.press-info__contact__t{
    font-size: 16px;
    line-height: 24px;
    color: #707676;
    margin-bottom: 7px;
}
.press-info__about{
    flex: 1;
}

.press-info__about__wrap p{
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    margin: 15px 0;
}

@media(max-width: 1200px){
    .press-info__logo{
        margin-right: 20px;
    }
    .press-info__contact{
        margin-left: 20px;
    }
}

@media(max-width: 1000px){
    .press-info__logo{
        margin-right: 25px;
    }
    .press-info__contact{
        width: calc(100% + 32px);
        margin-left: 0;
        margin: 0 -16px;
        margin-top: 25px;
        
    }
    .press-info__contact__wrap{
        min-height: initial;
        text-align: center;
        width: 100%;
    }
}

@media(max-width: 767px){
    .press-info__about{
        width: 100%;
        flex: auto;
    }
    .press-info{
        padding-top: 39px;
        padding-bottom: 44px;
    }
    .press-info__logo{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 0;
        margin-bottom: 42px;
        .press-info__title{
            width: 100%;
            text-align: center;
            margin-bottom: 21px;
        }
        .press-info__logo__item{
            margin: 0 8px;
        }
    }
    .press-info__logo__item{
        width: 136px;
    }
    .press-info__logo__item__img{
        height: 72px;
        padding: 0 26px;
        padding: 0 26px;
        margin-bottom: 8px;
    }
    .press-info__logo__item a{
        font-size: 12px;
        line-height: 24px;
    }
    .press-info__logo__item span{
        font-size: 12px;
        line-height: 24px;
    }
    .press-info__title{
        font-size: 18px;
        line-height: 32px;
        color: #3D4247;

    }
    .press-info__about__wrap p{
        font-size: 16px;
        line-height: 24px;
        margin: 10px 0;
    }
    .press-info__contact__wrap .press-info__title{
        margin-bottom: 13px;
    }
    .press-info__contact__t{
        font-size: 16px;
        line-height: 24px;
    }
    .press-info__contact__wrap a{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
    }
    .press-info__contact__wrap span{
        font-size: 16px;
        line-height: 24px;
    }
}

@media(max-width: 374px){
    .press-info__logo{
        margin-left: -8px;
        margin-right: -8px;
        width: calc(100% + 16px);
    }
}

.news-img__wrap{
    overflow: hidden;
    margin-top: 32px;
    width: 100%;
}
.news-img__wrap--over{
    display: flex;
    overflow: auto;
}
.news-img__item{
    width: calc(100% / 5);
    min-width: 243px;
    height: 160px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    position: relative;
}
.news-img__item:before{
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    background-color: transparent;
    transition: 0.3s all;
    position: absolute;
}
.news-img__item:hover:before{   
    background-color: rgba($color: #000000, $alpha: 0.1);
}
.news-img__row__col-left{
    width: 50%;
}
.news-img__row__col-right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.news-img__row{
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
}
.download-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 167, 181, 0.15);
    border-radius: 100px;
    padding: 8px 24px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #00A7B5;
    transition: 0.3s all;
    span{
        margin-right: 6px;
    }
}
.download-btn:hover{
    box-shadow: 0 0 5px rgba($color: #00A7B5, $alpha: 0.3);
}

@media(max-width:600px){
    .news-img__row__col-right{
        order: 3;
        width: 100%;
        justify-content: center;
        margin-top: 31px;
    }
    .news-img__row__col-left{
        width: 100%;
        text-align: center;
    }
    .news-img__row{
        margin-bottom: 26px;
        margin-top: 22px;
    }
}

.news-video__wrap{
    display: flex;
    width: 100%;
    margin-top: 31px;
    .video__player{
        max-width: initial;
        position: relative;
    }
    .js-video-gallary{
        height: 344px;
    }
    .video:before{
        content: "";
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.2);
    }
    .video__filter{
        z-index: 2;
    }
}
.news-video__col-l{
    width: 57%;
    margin-right: 32px;
}
.video-left-text{
    position: absolute;
    bottom: 0;
    padding: 30px 26px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    max-width: 418px;
    z-index: 2;
}
.news-video__col-r{
    flex: 1;
}
.right-video{
    display: flex;
    margin-bottom: 24px;
    .js-video-gallary{
        height: 160px;
       
        width: 243px;
    }
    .right-video__text{
        flex: 1;
        background: #F5F5F5;
        display: flex;
        align-items: center;
        padding: 24px;
        font-size: 16px;
        line-height: 24px;
    }
}

@media(max-width: 991px){
    .news-video__wrap{
        flex-direction: column;
    }
    .news-video__col-l{
        margin-right: 0;
        width: 100%;
        margin-bottom: 8px;
    }
    .news-video__col-r{
        display: flex;
        margin: 0 -5px;
    }
    .right-video{
        width: calc(50% - 10px);
        margin: 0 5px;
    }
    .right-video .js-video-gallary{
        height: 14vw;
        width: 40%;
    }
    .news-video__wrap .news-video__col-l .js-video-gallar {
        height: 60vw;
    }
    .right-video .right-video__text{
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
    .news-video__wrap {
        .video__btn{
            width: 60px;
            height: 60px;
            font-size: 20px;
        }
    }
    
}

@media(max-width: 767px){
    .news-video__col-r{
        flex-wrap: wrap;
    }
    .right-video{
        width: calc(100% - 10px);
        margin-bottom: 8px;
    }
    .news-video__wrap .video__btn{
        width: 24px;
        height: 24px;
        font-size: 10px;
        padding-left: 2px;
    }
    .right-video .js-video-gallary{
        height: 27vw;
        width: 45%;
    }
    .video-left-text{
        padding: 8px 16px;
        font-size: 12px;
        line-height: 16px;
        max-width: 256px;
    }
    .news-video__wrap{
        margin-top: 16px;
    }
    .news-img__row{
        margin-bottom: 41px;
    }
    .news-video__wrap .news-video__col-l .js-video-gallary{
        height: 52vw;
    }
}
@media(max-width: 374px){
    .right-video .right-video__text{
        font-size: 12px;
        line-height: 1.2;
    }
}
.sub-news{
    margin-top: 64px;
    background-color: #00A7B5;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 26px;
}
.sub-news-form{
    max-width: 725px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.sub-news-form.active{
    display: none;
}
.sub-news-form__left{
    margin-right: 23px;
    display: flex;
    span{
        max-width: 128px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        display: block;
    }
    svg{
        margin-right: 15px;
    }
}
.sub-news-form__bot{
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 16px;
}
.sub-news-form__right{
    flex: 1;
    display: flex;
}
.sub-news__btn{
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 48px;
    text-align: center;
    cursor: pointer;
    margin-left: 8px;
    transition: 0.3s all;
}
.sub-news__btn:hover{
    background-color: #fff;
    border: 1px solid #fff;
    color: #00A7B5;
}
.sub-news-form__input{
    flex: 1;
}
.sub-news-form__input input{
    width: 100%;
    background-color: #fff;
    height: 48px;
    padding: 0 16px;
    border: 0;
    font-size: 16px;
    line-height: 24px;
    color: #707676;
}
.sub-news-submit{
    display: none;
    justify-content: center;
}
.sub-news-submit.active{
    display: flex;
}
.sub-news-submit__left{
    display: flex;
    margin-right: 54px;
    svg{
        flex: 0 0 48px;
        margin-right: 28px;
    }
}
.sub-news-submit__white{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 7px;
}
.sub-news-submit__grey{
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.5;
    max-width: 228px;
}

@media(max-width: 767px){
    .sub-news-form__left{
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
        display: flex;
        justify-content: center;
    }
    .sub-news-form__right{
        flex-direction: column;
        align-items: center;
    }
    .sub-news-form__input{
        margin-bottom: 16px;
        width: 100%;
        max-width: 288px;
    }
    .sub-news-submit{
        flex-direction: column;
    }
    .sub-news-submit__left{
        margin-right: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
        svg{
            margin-right: 0;
            margin-bottom: 14px;
        }
    }
    .sub-news-submit__right{
        display: flex;
        justify-content: center;
        margin-top: 28px;
    }
}

@media(max-width: 600px){
    .sub-news__btn{
        font-size: 14px;
        line-height: 24px;
        width: 118px;
        height: 40px;
    }
    .sub-news-form__bot{
        font-size: 12px;
        line-height: 24px;
    }
    .sub-news-form__left span{
        font-size: 18px;
        line-height: 24px;
    }
    .sub-news-submit__white{
        font-size: 18px;
        line-height: 24px;
    }
}

.lg-backdrop{
    background-color: rgba(0,0,0,0.8);
}
.lg-counter{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding-left: 0;
   
    text-align: center;
    color: #FFFFFF;
    font-size: 0;
}
.lg-counter span{
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
}
.lg-next, .lg-prev{
    width: 48px;
    height: 48px;
    background: #fff;
    border: 1px solid #e2f0f1;
    border-radius: 100%;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #007aff
}
.lg-next:before, .lg-prev:before{
    display: none;
}
.lg-next:after, .lg-prev:after{
    font-size: 14px;
    font-weight: 700;
    font-family: swiper-icons;
    font-size: 14px;
    text-transform: none!important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
    
}
.lg-prev:after{
    content: 'prev';
}
.lg-next:after{
    content: 'next';
}
.lg-next:hover:not(.disabled), .lg-prev:hover:not(.disabled){
    color: #007aff
}

.lg-counter-current:after{
    content: "из";
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.lg-toolbar .lg-icon{
    font-family: 'custom-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-size: 30px;
}
.lg-toolbar .lg-icon:before{
    content: "\e91e";
}

@media(max-width: 767px){
    .lg-next, .lg-prev{
        display: none;
    }
}
.js-video-gallary{
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
}