.requirements {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0;
    border-bottom: 1px solid $color-gray;
  }

  &__inner {
    display: flex;
  }

  &__item {
    & + .requirements__item {
      margin-left: 121px;
    }
    margin-right: 10px;
  }

  &__name {
    color: $color-gray-text;
    line-height: 24px;
  }

  &__value {
    margin-top: 7px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }
}
@media (max-width: 991px) {
  .requirements__item + .requirements__item {
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .requirements {
    &__wrapper {
      display: flex;
      flex-direction: column;
      padding: 35.95px 0 40px;
      border-bottom: 1px solid $color-gray;
    }
  
    &__inner {
      flex-direction: column;
      text-align: center;
    }
  
    &__item {
      & + .requirements__item {
        margin-left: 0;
      }
      margin: 16px 0 0;
      &:last-child {
        margin-bottom: 25px;
      }
    }
  
    &__name {
      font-size: 14px;
    }
  
    &__value {
      font-size: 16px;
    }
  }
}

.modal {
  display: none;
  &.is-open {
    display: block;
  }
  .close-modal {
    position: fixed;
    z-index: 101;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
  }
  .respond {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .success {
    position: fixed;
    z-index: 102;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #F2F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
		&__icon {
      font-size: 72px;
      color: $color-blue;
		}

		&__title {
      margin-top: 20px;
      font-weight: 500;
      font-size: 36px;
      line-height: 48px;
		}

		&__subtitle {
      margin-top: 11px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #3D4247;
		}

		&__close {
      margin-top: 33px;
		}
  }
}
